<section class="u-clearfix u-palette-1-light-1 u-section-1" id="sec-be6c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1" src="assets/images/Portadacanciones1.png" alt="" data-image-width="1600" data-image-height="183">
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-06f9">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Creación de Canciones</h2>
      <a href="/espacioAdministrador" data-page-id="20140730" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-radius-50 u-btn-1"><span class="u-icon u-text-white u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><polygon points="256,152.96 79.894,288.469 79.894,470.018 221.401,470.018 221.401,336.973 296.576,336.973 296.576,470.018 432.107,470.018 432.107,288.469"></polygon><polygon points="439.482,183.132 439.482,90.307 365.316,90.307 365.316,126.077 256,41.982 0,238.919 35.339,284.855 256,115.062 476.662,284.856 512,238.92"></polygon></svg><img></span>&nbsp;
      </a>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-3 u-section-3" id="sec-bd70">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="#" [formGroup]="cancionForm" (ngSubmit)="crearCancion($event)" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-1">
            <div class="u-form-select-wrapper">
              <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
                <mat-label>Album</mat-label>
                <mat-select matSelect formControlName="album" (ngModelChange)="selectAlbum.id" required>
                  <mat-option>--</mat-option>  
                  <mat-option *ngFor="let b of albumSelect" value ={{b.id}}>{{b.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="u-form-group u-form-name u-form-partition-factor-2">
            <label for="name-f14c" class="u-custom-font u-heading-font u-label">Nombre</label>
            <input formControlName="nombre" type="text" placeholder="Ingrese el nombre de la canción" id="name-f14c" name="inputNombre" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="30">
          </div>
          <div class="u-form-group u-form-textarea u-form-group-3">
            <label for="textarea-e35e" class="u-custom-font u-heading-font u-label">Descripción de la canción</label>
            <textarea formControlName="descripcion" rows="3" cols="50" id="textarea-e35e" name="textarea" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="Ingrese una breve descripción" maxlength="300"></textarea>
          </div>
          <div class="u-form-group u-form-partition-factor-2">
            <label for="email-f14c" class="u-custom-font u-heading-font u-label">Duración</label>
            <input formControlName="duracion" type="text" id="email-f14c" name="inputDuración" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="00:00:00" maxlength="8">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-5">
            <div class="u-form-select-wrapper">
              <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
                <mat-label>Formato de audio</mat-label>
                <mat-select matSelect formControlName="formato" (ngModelChange)="selectFormato.id" required>
                  <mat-option>--</mat-option>  
                  <mat-option *ngFor="let b of formato" value ={{b.id}}>{{b.descripcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-6">
            <label for="text-20a5" class="u-custom-font u-heading-font u-label">Colaboraciones</label>
            <input formControlName="colaboraciones" type="text" placeholder="Ingrese los artistas colaboradores" id="text-20a5" name="inputColaboraciones" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" maxlength="100">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-7">
            <label for="text-1dec" class="u-custom-font u-heading-font u-label">Precio</label>
            <input formControlName="precio" type="text" placeholder="Ingrese el precio de la canción" id="text-1dec" name="inputPrecio" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="7">
          </div>
          <div class="u-align-right u-form-group u-form-submit">
            <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-radius-25 u-btn-1">Añadir</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>  
        </form>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-1 u-section-4" id="sec-16a6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Listado de Canciones</h2>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-1 u-section-5" id="sec-ec8d">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form-1" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-1c04" class="u-custom-font u-form-control-hidden u-heading-font u-label"></label>
            <input (input)="filtrar($event)" type="text" placeholder="Buscar por nombre, album, formato o precio" id="name-1c04" name="inputBuscar" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" maxlength="50">
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-palette-1-light-1 u-section-6" id="sec-ec5e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="13%">
            <col width="13%">
            <col width="36%">
            <col width="8%">
            <col width="5%">
            <col width="10%">
            <col width="5%">
            <col width="10%">
          </colgroup>
          <thead class="u-align-center u-custom-font u-heading-font u-palette-5-dark-1 u-table-header u-table-header-1">
            <tr style="height: 44px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Nombre</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Album</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Descripción</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Duración</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Formato</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Colaboraciones</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell">Precio</th>
              <th class="u-border-1 u-border-grey-50 u-table-cell"></th>
            </tr>
          </thead>
          <tbody class="u-align-center u-custom-font u-heading-font u-table-body u-white u-table-body-1">
            <tr *ngFor="let cancionInterfaz of cancionInterfazFiltrada" style="height: 44px;">
              <td *ngIf="!cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.nombre}}</td>
              <td *ngIf="cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="cancionInterfaz.nombre" type="text" value="{{cancionInterfaz.nombre}}"></td>
              <td  class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.album}}</td>
              <td *ngIf="!cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.descripcion}}</td>
              <td *ngIf="cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="cancionInterfaz.descripcion" type="text" value="{{cancionInterfaz.descripcion}}"></td>
              <td *ngIf="!cancionInterfaz.editable"  class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.duracion}}</td>
              <td *ngIf="cancionInterfaz.editable"  class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="cancionInterfaz.duracion" type="text" value="{{cancionInterfaz.duracion}}"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.formato}}</td>
              <td *ngIf="!cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancionInterfaz.colaboraciones}}</td>
              <td *ngIf="cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="cancionInterfaz.colaboraciones"type="text" value="{{cancionInterfaz.colaboraciones}}"></td>
              <td  *ngIf="!cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">${{cancionInterfaz.precio}}</td>
              <td *ngIf="cancionInterfaz.editable" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="cancionInterfaz.precio"type="text" value="{{cancionInterfaz.precio}}"></td>
              <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <span *ngIf="!cancionInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="hacerCancionEditable(cancionInterfaz)" style="position: relative; top: 2px; left: 2px;" width="37px" src="assets/images/Editar.png">
                </span>
                <span *ngIf="cancionInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="editarCancion(cancionInterfaz)" style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/images/Ok.png">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>