<section class="u-clearfix u-palette-1-light-1 u-section-1" id="sec-be6c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1" src="assets/images/PortadaArtistas.png" alt="" data-image-width="7000" data-image-height="800">
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-06f9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Creación de Artistas<span style="font-weight: 700;"></span>
      </h2>
      <a href="/espacioAdministrador" data-page-id="20140730" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-radius-50 u-btn-1"><span class="u-icon u-text-white u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><polygon points="256,152.96 79.894,288.469 79.894,470.018 221.401,470.018 221.401,336.973 296.576,336.973 296.576,470.018 432.107,470.018 432.107,288.469"></polygon><polygon points="439.482,183.132 439.482,90.307 365.316,90.307 365.316,126.077 256,41.982 0,238.919 35.339,284.855 256,115.062 476.662,284.856 512,238.92"></polygon></svg><img></span>&nbsp;
      </a>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-3 u-section-3" id="sec-bd70">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="" [formGroup]="artistaForm" (ngSubmit)="crearArtista($event)" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;" redirect="true">
          <div class="u-form-group u-form-name">
            <label for="name-f14c" class="u-custom-font u-heading-font u-label">Nombre</label>
            <input formControlName="nombre" type="text" placeholder="Ingrese el nombre del artista" id="name-f14c" name="inputNombre" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="" maxlength="50">
          </div>
          <div class="u-form-date u-form-group u-form-partition-factor-2">
           <!--<label for="email-f14c" class="u-custom-font u-heading-font u-label">Fecha de nacimiento</label>
            <input formControlName="fechaNacimiento" type="date" id="email-f14c" name="inputFechaN" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="required">-->
            <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
              <mat-label>Fecha de Lanzamiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-3">
            <label for="select-0aef" class="u-custom-font u-heading-font u-label">Sexo</label>
            <div class="u-form-select-wrapper">
              <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
                <mat-label>Sexo</mat-label>
                <mat-select matSelect formControlName="sexo" (ngModelChange)="selectSexo.id" required>
                    <mat-option *ngFor="let b of sexo" value ={{b.id}}>{{b.descripcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-4">
            <label for="text-20a5" class="u-custom-font u-heading-font u-label">Nacionalidad</label>
            <input formControlName="nacionalidad" type="text" placeholder="Ingrese la nacionalidad del artista" id="text-20a5" name="inputNacionalidad" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-4" required="required" maxlength="20">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-5">
            <label for="select-e0c1" class="u-custom-font u-heading-font u-label">Genero Musical</label>
            <div class="u-form-select-wrapper">
              <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
                <mat-label>Genero musical</mat-label>
                <mat-select matSelect formControlName="generoMusical" (ngModelChange)="selectGenero.id" required>
                    <mat-option *ngFor="let b of generoMusical" value ={{b.id}}>{{b.descripcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="u-align-right u-form-group u-form-submit">
            <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-radius-25 u-btn-1">Añadir</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
          <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-1 u-section-4" id="sec-16a6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Listado de Artistas</h2>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-1 u-section-5" id="sec-ec8d">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form-1" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-1c04" class="u-custom-font u-form-control-hidden u-heading-font u-label"></label>
            <input type="text" placeholder="Buscar" id="name-1c04" name="inputBuscar" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-1" maxlength="50">
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-radius-25 u-btn-1">Buscar<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
          <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-palette-1-light-1 u-section-6" id="sec-ec5e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table mat-table [dataSource]="dataSource" style="text-align: center;" >
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre  </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          
          <ng-container matColumnDef="fecha Nacimiento">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> fecha Nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date: 'dd/MM/yyyy'}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Nacionalidad">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Nacionalidad </th>
            <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Sexo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Genero Musical">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Genero Musical </th>
            <td mat-cell *matCellDef="let element"> {{element.generoMusical}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </section>