<section class="u-clearfix u-gradient u-section-1" id="sec-d387">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-1">Selección de Canciones</h2>
  </div>
</section>
<section class="u-clearfix u-gradient u-section-2" id="sec-7220">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-center u-form u-form-1">
      <form [formGroup]="cancionesForm" action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form-1" style="padding: 10px;">
        <div class="u-form-group u-form-select u-form-group-1">
          <label for="select-4753" class="u-custom-font u-form-control-hidden u-heading-font u-label"></label>
          <div class="u-form-select-wrapper">
            <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
              <mat-label>Cancion</mat-label>
              <mat-select matSelect formControlName="nombreCancion" (ngModelChange)="selectCancion.id" required>
                <mat-option>--</mat-option>  
                <mat-option *ngFor="let c of cancion" value ={{c.id}}>{{c.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="u-align-left u-form-group u-form-submit">
          <a (click)="agregarCancion()" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-radius-25 u-btn-1">Agregar</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
      </form>
    </div>
    <br>
    <br>
    <div class="u-table u-table-responsive u-table-1">
      <table class="u-table-entity">
        <colgroup>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
        </colgroup>
        <thead class="u-align-center u-custom-font u-grey-50 u-heading-font u-table-header u-table-header-1">
          <tr style="height: 21px;">
            <th class="u-border-1 u-border-grey-50 u-table-cell">Nombre Canción</th>
            <th class="u-border-1 u-border-grey-50 u-table-cell">Duración</th>
            <th class="u-border-1 u-border-grey-50 u-table-cell">Formato</th>
            <th class="u-border-1 u-border-grey-50 u-table-cell">Precio</th>
            <th class="u-border-1 u-border-grey-50 u-table-cell">Albúm</th>
          </tr>
        </thead>
        <tbody class="u-align-center u-custom-font u-heading-font u-table-body">
          <tr *ngFor="let cancion of cancionInterfaz" style="height: 34px;">
            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancion.nombre}}</td>
            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancion.duracion}}</td>
            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancion.formato}}</td>
            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancion.precio}}</td>
            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{cancion.album}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="u-align-center u-form u-form-3">
      <form [formGroup]="totalForm" action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form-3" style="padding: 10px;">
        <div class="u-form-group u-form-name">
          <label for="name-f1b3" class="u-form-control-hidden u-label"></label>
          <input formControlName="precioTotal" type="text" value="{{this.total}}" placeholder="Total" id="name-f1b3" name="name" class="u-border-2 u-border-grey-30 u-custom-font u-heading-font u-input u-input-rectangle" style="text-align: center; outline: none;" readonly="readonly">
        </div>
        <div class="u-align-left u-form-group u-form-submit">
          <a (click)="calcularTotal()" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-2 u-radius-25 u-btn-3">Calcular<br>
          </a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
      </form>
    </div>
    <a (click)="agregarCarrito()" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-heading-font u-hover-palette-1-dark-1 u-radius-25 u-btn-4">Agregar al Carrito</a>
    <a (click)="pasarACarrito()" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-heading-font u-hover-palette-1-dark-1 u-radius-25 u-btn-5">Ver Carrito</a>
  </div>
</section>