<section class="u-clearfix u-palette-1-light-1 u-section-1" id="sec-688b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Proceso de compra</h1>
    </div>
  </section>
  <section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-4af0">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-20 u-layout-cell-1">
              <div class="u-border-1 u-border-black u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-1">Datos del cliente</h2>
                <br>
                <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
                  <form [formGroup]="clienteForm" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                    <div class="u-form-group u-form-name">
                      <label for="name-5bad" class="u-custom-font u-heading-font u-label">Nombre</label>
                      <input formControlName = "nombre" type="text" placeholder="Ingrese su nombre completo" id="name-5bad" name="inputNombre" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="30">
                    </div>
                    <div class="u-form-group">
                      <label for="email-5bad" class="u-custom-font u-heading-font u-label">Apellido</label>
                      <input formControlName = "apellido" type="text" placeholder="Ingrese su apellido completo" id="email-5bad" name="inputApellido" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required" maxlength="30">
                    </div>
                    <div class="u-form-group u-form-group-3">
                      <label for="text-5880" class="u-custom-font u-heading-font u-label">Celular</label>
                      <input formControlName = "celular" type="text" placeholder="Ingrese su numero de celular" id="text-5880" name="inputCelular" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required" maxlength="10">
                    </div>
                    <div class="u-form-group u-form-group-4">
                      <label for="text-2112" class="u-custom-font u-heading-font u-label">Correo Electrónico</label>
                      <input formControlName = "correo" type="text" placeholder="Ingrese su correo electrónico" id="text-2112" name="inputCorreo" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required" maxlength="50">
                    </div>
                    <div class="u-form-group u-form-group-5">
                      <label for="text-d8bf" class="u-custom-font u-heading-font u-label">Dirección de domicilio</label>
                      <input formControlName = "direccion" type="text" placeholder="Ingrese su dirección" id="text-d8bf" name="inputDirección" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required" maxlength="50">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
              <div class="u-border-1 u-border-black u-container-layout u-container-layout-2">
                <h2 class="u-text u-text-2">
                  <span style="font-weight: 700;">¿Cómo quieres pagar?</span>
                  <span style="font-weight: 700;"></span>
                </h2>
                <div class="u-expanded-width-xs u-form u-form-2">
                  <form [formGroup]="pagoForm" action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-1" style="padding: 10px;">
                    <div class="u-form-group u-form-select u-form-group-7">
                      <label for="select-5637" class="u-form-control-hidden u-label"></label>
                      <div class="u-form-select-wrapper">
                        <mat-form-field appearance="fill" style="position: relative; top: 22px; width: 100%;">
                          <mat-label>Metodo de Pago</mat-label>
                          <mat-select matSelect formControlName = "pago" (ngModelChange)="selectPago.id" required>
                            <mat-option>--</mat-option>  
                            <mat-option *ngFor="let b of pago" value ={{b.id}}>{{b.descripcion}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-2">
                        <br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
              <div class="u-border-1 u-border-black u-container-layout u-container-layout-3">
                <h2 class="u-align-center u-text u-text-3">Resumen de compra</h2>
                <div class="u-form u-form-3">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-2" style="padding: 10px;">
                    <div class="u-form-group u-form-name">
                      <label for="name-747c" class="u-label">Cantidad de productos</label>
                      <input type="text" id="name-747c" value="{{this.cantidad}}" placeholder="Cantidad" name="inputNProductor" class="u-input u-input-rectangle" style="text-align: center; outline: none;" readonly="readonly">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-747c" class="u-label">Total</label>
                      <input type="text" id="email-747c" value="$ {{this.total}}" placeholder="Total" name="inputTotal" class="u-input u-input-rectangle" style="text-align: center; outline: none;" readonly="readonly">
                    </div>
                  </form>
                </div>
                <a (click)="comprar($event)" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-radius-25 u-btn-4">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>