<section class="u-clearfix u-palette-1-light-3 u-section-1" id="sec-45ee">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-align-center u-text u-text-1">Catálogo<span style="font-weight: 700;"></span>
      </h2>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-4a30">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-layout-grid u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" class="u-image u-image-round u-radius-50 u-image-1" data-image-width="1600" data-image-height="1512" src="assets/images/LogoDiscoTienda.png">
              <h4 class="u-align-center u-text u-text-1">Album1</h4>
              <h4 class="u-align-center u-text u-text-2">Artista1</h4>
              <h4 class="u-text u-text-3">Lanzamiento:&nbsp;</h4>
              <h4 class="u-align-center u-text u-text-4">07-02-2020</h4>
              <p class="u-align-justify u-custom-font u-heading-font u-text u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <h4 class="u-align-center u-text u-text-custom-color-1 u-text-6">00000</h4>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-1">Ver Canciones</a>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-2">Añadir al Carrito</a>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img alt="" class="u-image u-image-round u-radius-50 u-image-2" data-image-width="1600" data-image-height="1512" src="assets/images/LogoDiscoTienda.png">
              <h4 class="u-align-center u-text u-text-7">Album2</h4>
              <h4 class="u-align-center u-text u-text-8">Artista2</h4>
              <h4 class="u-text u-text-9">Lanzamiento:</h4>
              <h4 class="u-align-center u-text u-text-10">07-02-2020</h4>
              <p class="u-align-justify u-custom-font u-heading-font u-text u-text-11">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <h4 class="u-align-center u-text u-text-custom-color-1 u-text-12">00000</h4>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-3">Ver Canciones</a>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-4">Añadir al Carrito</a>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img alt="" class="u-image u-image-round u-radius-50 u-image-3" data-image-width="1600" data-image-height="1512" src="assets/images/LogoDiscoTienda.png">
              <h4 class="u-align-center u-text u-text-13">Album3</h4>
              <h4 class="u-align-center u-text u-text-14">Artista3</h4>
              <h4 class="u-text u-text-15">Lanzamiento:</h4>
              <h4 class="u-align-center u-text u-text-16">07-02-2020</h4>
              <p class="u-align-justify u-custom-font u-heading-font u-text u-text-17">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <h4 class="u-align-center u-text u-text-custom-color-1 u-text-18">00000</h4>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-5">Ver Canciones</a>
              <a href="" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-25 u-btn-6">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>